import { documentedStoriesOf } from '{{pathToRootDir}}/documentation/documented_stories';
import readme from './{{name}}.md';
import Gl{{pascalCase name}} from './{{name}}.vue';

const components = {
  Gl{{pascalCase name}},
};

const defaultProps = {};

function generateProps(props = {}) {
  return {
    ...defaultProps,
    ...props,
  };
}

documentedStoriesOf('base/{{name}}', readme)
  .add('default', () => ({
    components,
    props: generateProps(),
    data: () => ({}),
    template: `
      <gl-{{kebabCase name}} />
    `,
  }));
